<html>
  <head>
    <title>Quarantine Paradise</title>
  </head>
  <body>
    
    <h1>Welcome to the Fraser-Fulton Hotel!</h1>
    <h3>Enjoy your stay</h3>
  
    <h1>Guest Portal</h1>
    <ul>
      <li><a href="/availableRooms">See our Room List</a></li>
      <li><a href="/reservations">See Our Current Reservations</a></li>
          <li>
        <a href="/availableRooms/availableOnDate">Check Room Availability for a Certain Date</a>
      </li>
      <li>
      <a href="/reservations/myReservations">Find Your Reservation</a>
    </li>
    <li>
      <a href="/roomService">Order Room Service</a>
    </li>
    <li>
      <a href="/viewBill">View Bill</a>
    </li>
    </ul>
        <h1>Employee Portal</h1>
        <form action="/employees/info" method=POST>
          <label>Employee Login</label>
          <input name="employee-info"/>
          <input type=submit value="Login"/>
        </form>
        <li><a href="/employees">View the Employee Directory</a></li>
        <li><a href="/hotelGuests">Check the Guest List</a></li>
      </li>
    
  </body>
</html>
