<html>
        <head>
            <title>{{ name }}</title>
          </head>
          <body>
            <h1>{{ name }}</h1>
            <table>
              {% if rows %}
              <tr>
                {% for name in rows[0].keys() %}
                  <th>{{ name }}</th>
                {% endfor %}
              <tr>
              {% endif %}
              {% for row in rows %}
              <tr>
                {% for col in row.values() %}
                  <td>{{ col }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
<br/>
        <body>
            <form action="/hotelGuests/roomService" method="POST">
            <label>Reservation ID: </label>
            <input name="res_id"/>
            <label>Item: </label>
            <input name="item"/>
            <input type="submit" value="Submit Order"/>
        </form>
        </body>
</html>