<html>
    <head>
        <title>
            Order Room Service!
        </title>
        <img src="/Users/kelsifulton/Documents/GitHub/Software-Dev-Studio/ff-quarantine-paradise/voyager/templates/hotelmenu.png" alt="Hotel Menu">
        <body>
            <h1>Choose Dates</h1>
            <form action="/availableRooms/availableOnDate" method="POST">
            <label>Check In: </label>
            <input name="check-in-date"/>
            <label>Check Out: </label>
            <input name="check-out-date"/>
            <input type="submit" value="See Available Rooms"/>
        </form>
        </body>
    </head>
</html>